body{
	margin: 0px;
}
a{
	color: white;
	text-decoration: none;
}

.header{
	background-color: black;
	color:white;
}

.nav{
	font-size: 0px;
}
	.toogle_check{
		display: none;
	}
		.toogle_check:checked + .nav{
			display: block;
		}
	.toogle_label{
		display: none;
		padding: 5px 10px;
	}

	.nav_ul{
		list-style: none;
		margin: 0px;
		padding: 0px;
		text-align: center;
	}
		.nav_ul_li{
			display: inline-block;
			background-color: rgba(255,255,255, 0.7);
		}
			.nav_ul_li a{
				font-size: 1rem;
				display: inline-block;
				padding: 5px 10px;
				border:solid red 1px;
			}


@media screen and (max-width: 320px) {
	.nav{
		display: none;
	}
	.toogle_label{
		display: inline-block;
	}
	.nav_ul_li{
		display: block;
	}
		.nav_ul_li a{
			width: 100%;
		}
}